## This notebook will be used for the Coursera Capstone Project

In [2]:
# importing the neccesary library
import numpy as np
import pandas as pd

#### Importing the data from the URL link provided

In [15]:
url = "http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
my_data = pd.read_html(url)[0]
my_data

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

#### Dropping the rows for which there is no value assigned for Borough

In [28]:
my_data.drop(my_data[my_data.Borough == 'Not assigned'].index, inplace=True)

In [29]:
my_data.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [32]:
# printing the shape of the data frame
my_data.shape

(103, 3)